name: Release
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  release:
    types:
      - created
  workflow_dispatch:

jobs:
  release:
    if: ${{ github.event.pull_request.merged }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-2019]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - name: install dependencies
        run: npm install
      - name: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run publish
